.text-box {
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid #cbd5e1;
  background-color: #f8fafc;
}